:javascript
  // All functions fired by unity should go up here:
  
  var RetrieveComment;

  RetrieveComment = function(msg) {
    element = document.getElementById("popover");
    element.innerHTML = msg;
  };

.row{style:"padding:10px;"}
  .col-xs-6
    .panel.panel-default{style:"padding:30px;"}
      %h1 New 3D Renderer
      %p Change the inputs in the form to update the player!
      
      %br
      
      = simple_form_for :stl, url: player_grab_file_url_path, html: {id: "stl_loader", class: "form-inline", multipart: true , "data-type" => "json"}, remote: true,  authenticity_token: true do |form|
        %span.btn.btn-default.btn-file
          Upload an STL
          = form.input :file, as: "file", label: false, input_html: {class: "file_select"}
      %br
      #ajax_div
      .form-group
        %label{:for => "exampleInputEmail1"} Material
        %select.combobox.form-control#selectedMaterial
          %option{:value => "0"} Red PLA
          %option{:value => "1"} Green PLA
          %option{:value => "2"} White PC
          %option{:value => "3"} Black PC-ABS
          %option{:value => "4"} Blue ABS
          %option{:value => "5"} Orange ABS
      
      .form-group
        %label{:for => "exampleInputPassword1"} Quality
        %input#quality_slider{"data-slider-id" => "quality_slider", "data-slider-max" => "10", "data-slider-min" => "1.2", "data-slider-step" => "0.5", "data-slider-value" => "3", :type => "text"}
      %br
      .form-group
        %label{:for => "exampleInputPassword1"} Scale
        %input#scale_slider{"data-slider-id" => "scale_slider", "data-slider-max" => "2", "data-slider-min" => "0.5", "data-slider-step" => "0.2", "data-slider-value" => "1", :type => "text"}
      .btn.btn-default#update_unity
        Update
  .col-xs-6
    .panel.panel-default#unity_panel{style:"padding:30px;"}
      = render partial: "player/unity_player"
.panel.panel-default#popover{style: "position:absolute;"}

:coffee
 
  $(document).ready ->
    $("#unity_panel").mouseout () ->
      $("#popover").html ""

    $(window).mousemove (e) ->
      mouseX = Math.min(e.pageX)
      mouseY = Math.min(e.pageY)
      $("#popover").css "top", mouseY + 5
      $("#popover").css "left", mouseX + 5
    
    $('#update_unity').click ->
      update_items()
     
    $('#quality_slider').on 'slide', (slideEvt) ->
      update_items()

    $('#scale_slider').on 'slide', (slideEvt) ->
      update_items()

    $('#selectedMaterial').change ->
      update_items()

    update_items = () ->
      material = $("#selectedMaterial").val()
      quality  = $('input[data-slider-id="quality_slider"]').val()
      scale    = $('input[data-slider-id="scale_slider"]').val()
      u.getUnity().SendMessage 'Camera', 'updateAppearance', material + "," + scale + "," + quality
    
    $(document).on 'change', '.file_select', ->
      alert " new file call"
      $('#stl_loader').submit()
      return
    
    # $('.file_select').on 'change', ->
    #  return false

    # $("#file_select").change (e) ->
    #   alert "new file selected"
    #   $('#stl_loader').submit()
    #   $(this).val('')
      

    $('#quality_slider').slider
      reversed: true
      formatter: (value) ->
        'Current value: ' + value
    
    $('#scale_slider').slider formatter: (value) ->
      'Current value: ' + value

    $("#stl_loader").on("ajax:success", (e, data, status, xhr) ->
      console.log "ajax success"
      $("#ajax_div").html "localhost:3000"+data["file_url"]
      u.getUnity().SendMessage 'Camera', 'loadFile', "http://localhost:3000"+ data["file_url"]
      $("#stl_loader").unbind('submit')
      update_items()

    ).on "ajax:error", (e, xhr, status, error) ->
      console.log "ajax error"
      $("#ajax_div").html JSON.stringify e
    

